@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 600px;
  margin: auto;
}
body {
  padding: 20px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.answer-field {
  border: 1px solid #ddd;
  font-size: 15px;
  appearance: none;
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
  transition: 0.1s ease-in-out outline;
  outline: 0px solid #1E88E550;
  border-radius: 4px;
  &::placeholder {
    color: #555;
  }
  &:focus {
    outline: 6px solid #1E88E550;
    border-color: #1E88E5; 
  }
  &:disabled {
    background: #d1d5db;
  }
}
#questions .question {
  margin-bottom: 50px;
}

#result {
  padding: 20px;
  text-align: center;
  border-radius: 4px;
}

#submitBtn {
  outline: none;
  color: #0d6efd;
  border: none;
  background: transparent;
  padding: 10px 15px;
  font-size: 15px;
  transition: 0.15s ease background;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  font-weight: bold;
  &:hover {
    background: #0d6efd10;
  }
  &:focus {
    outline: 4px solid #1E88E540;
  }
  &:active {
    background: #0d6efd20;
  }
}